.employee-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  
  .name-email-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    background-color: #f9f9f9;
  }
  
  .name-email {
    color: #333;
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items:right;
  }
  
  .button {
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .employee-item {
    display: flex;
    justify-content: center;
    align-items:baseline;
  }
  
  .name-box, .email-box {
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center; /* Center buttons vertically */
  }
  
  /* Style for both buttons */
  .update-button, .delete-button, .edit-button  {
    margin-left: 10px; /* Add margin between buttons */
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }
  
  .edit-button {
    background-color: #0056b3;
    width: 200px;
    
  }
  
  
  .app-container {
    text-align: center;
  }
  
  body {
    text-align: center;
    background-color: lightblue;
    font-family: cursive;
    font-weight: 500;
  }
  
  .employee-item {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .employee-details {
    flex-grow: 1;
  }
  
  .buttons-container {
    display:block;
  }
  
  
  